# ignore everything
*

#except the following files
!.gitignore
!train.py
!data
!docs
!input
!src/
!load&test.ipynb
!MACE_to_Fortran.py
!MACE.png
!minmax.py
!paper.md
!README.md
!requirements.txt
!routine.ipynb
!train.py
!test.py