# ignore everything
*

#except the following files
!.gitignore
!data
!docs
!input
!src
!MACE_fortran
!load&test.ipynb
!MACE_to_Fortran.py
!MACE.png
!minmax.py
!paper.md
!README.md
!requirements.txt
!routine.ipynb
!splitdataset.py
!train.py
!test.py